@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .button-container {
        padding: 10px; /* Padding around the container */
        display: flex;
        flex-direction: column;
    }

    .botao_simples {
        display: block;
        width: 200px;
        height: 40px;
        margin: 10px auto;
        background-color: transparent;
        color: white;
        border: 2px solid white;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
    }

        .botao_simples:hover,
        .botao_simples:active {
            color: white;
            border-color: white;
            text-decoration: none;
        }

</style>

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div>
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.Username">Username</label>
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="botao_simples">Register</button>
        </form>
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in Model.ExternalLogins!)
                    {
                        <button type="submit" class="botao_simples" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                    }
                </p>
            </div>
        </form>
        <button id="goBackButton" class="botao_simples" onclick="window.history.back()">Voltar</button>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
