@model Studyo.Models.Quiz

@{
    ViewData["Title"] = "Quiz";
}

<style>

    .botao_simples {
        display: inline-block;
        width: 200px;
        height: 40px;
        margin: 20px 10px;
        background-color: transparent;
        color: white;
        border: 2px solid white;
        text-align: center;
        line-height: 40px;
        font-weight: bold;
        text-decoration: none;
    }

        .botao_simples:hover,
        .botao_simples:active {
            color: white;
            border-color: white;
            text-decoration: none;
        }

    .buttons {
        text-align: center;
    }
</style>

<div>
    <div>
        @foreach (var question in Model.QuizQuestions)
        {

            <h1>@Html.DisplayFor(modelItem => question.Question)</h1>

            @foreach (var answer in question.Answers)
            {
                <input type="radio" itemid="@answer.Id" name="@question.Id" value="@answer.isCorrectAnswer.ToString()" />
                <label>- @Html.DisplayFor(modelItem => answer.Answer)</label>

                <br />
            }
        }
    </div>
    <div class="buttons">
        <button class="botao_simples" onclick="window.history.back()">Voltar</button>
        <!-- HTML with Razor syntax -->
        <a id="asdfbasdfasbdf"
            class="botao_simples"
           asp-controller="Disciplina"
           asp-action="QuizResult"
           asp-route-chapterId="@Model.ChapterId"
           asp-route-score="0">Submeter</a>
    </div>
</div>

<script>
    let score = 0;

    const calculateScore = () => {
        numberOfQuestion = document.querySelectorAll("input[type='radio']").length / 4;

        const answers = document.querySelectorAll("input[type='radio']:checked");
        let counter = 0;
        answers.forEach((answer) => (answer.value === "True") ? counter += 1 : 0);
        return Math.round(counter / numberOfQuestion * 100);

    };

    document.querySelectorAll("input[type='radio']")
        .forEach((elem) => elem.addEventListener("click", () => {
            score = calculateScore();
            const temp = document.querySelector("#asdfbasdfasbdf");
            temp.href = "/Disciplina/QuizResult?" + `chapterId=@{@Model.ChapterId}` + `&score=${score}`;
        }));

</script>
